@use "media-queries" as *;

html {
    font-size: 62.5%;
}

body{
    font-family: var(--font);
    color: var(--text);
    background: var(--body);
    font-size: 1.6rem;
}

p {
    margin: 1rem 0;
    font-family: var(--fontFamilyTitle);
    color: var(--primary);
    font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fontFamilyTitle);
    color: var(--body);
    }

h1{
    font-size: 4.5rem;
    color: var(--body);
    letter-spacing: 0.7rem;
}

ul{
    list-style: none;
    padding-left: 0;
}

a{
    color: var(--text);
    text-decoration: none;
}

