:root {
  font-size: 62.5%;

  /*theme*/
  --fontFamilyCore: 'AR One Sans', sans-serif;
  --fontFamilyTitle: 'Shadows Into Light', cursive;
  --fontColor: #686058;
  --fontColor-dark: #444;
  --dark: #444;

  --body: #E5EFEF;
  --primary: #006266;
  --primary-light: #b2cfd1;
  --primary-light-40: rgba(178, 207, 209, 0.4);
  --secondary: #F79F1F;
  --secondary-light: #FDEBD2;
  --secondary-light-60: rgba(253, 235, 210, 0.3);

  /*linearGradient*/
  --gradiant-back: 350deg, var(--primary) 0%, var(--secondary) 100%;

  /*messages Flash*/
  --warning: #EA2027;
  --warning-soft: #fad2d3;
  --succes: #009432;
  --succes-soft: #cce9d6;

  /*box-shadow*/
  --box-shadow: 1px 1px 2px 0 rgba(60, 64, 67, .3);
  --text_shadow_soft: 0px 0px 3px rgba(255, 255, 255, 0.6);

  /*border-radius*/
  --border-radius-large: 1rem;
  --border-radius: 0.3rem;

  /*border*/
  --border: 2px solid var(--border);

}